.detail {
  display: flex;
  font-size: 1.4rem;
  gap: 4.5rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-bottom-style);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
    gap: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 2rem;
  }
}
